
.button{
    position: relative;
    color: rgb(74, 122, 170);
    display: inline-block;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 4px;
    border-radius: 100px;
    overflow:hidden;
    text-decoration: none;
    z-index: 1;
}
.button a{
    text-decoration: none;
    z-index: 1;
}

.button__background{
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(34, 59, 94, 0.2), rgba(40, 100, 156, 0.2));
    z-index: -1;
}
.button__background--red{
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(238, 140, 13, 0.2), rgba(255, 78, 72, 0.2));
}

.button:hover .button__background--red{
    top: 0;
    left: 0;
    transition: 0.15s;
    transition-delay: 0.1s;
}

.button:hover .button__background{
    top: 0;
    left: 0;
    transition: 0.15s;
    transition-delay: 0.1s;
}
.button:hover{
    box-shadow: 0 0 10px rgb(51, 83, 121);
    color:rgb(110, 141, 224);
}
